<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">
  	
  	<context:annotation-config />	
	
	<bean id="parentDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" abstract="true">
	   <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
	</bean>	
	
	<bean id="mainDataSource" parent="parentDataSource">
	   <property name="url" value="${db.url.main}"/>
	   <property name="username" value="${db.username.main}"/>
	   <property name="password" value="${db.password.main}"/>	   
	</bean>
	
    <bean id="OrgEntityDAO" class="com.deccanrock.planovik.service.dao.OrgEntityDAO" />
    <bean id="UserEntityDAO" class="com.deccanrock.planovik.service.dao.UserEntityDAO" />
    <bean id="ItineraryEntityDAO" class="com.deccanrock.planovik.service.dao.ItineraryEntityDAO" />
    <bean id="ActivityMasterDAO" class="com.deccanrock.planovik.service.dao.ActivityMasterDAO" />
    <bean id="ActivityCodesEntityDAO" class="com.deccanrock.planovik.service.dao.ActivityCodesEntityDAO" />	
    <bean id="ActivityEntityDAO" class="com.deccanrock.planovik.service.dao.ActivityEntityDAO" />
    <bean id="applicationContextProvider" class="com.deccanrock.planovik.controller.ApplicationContextProvider"></bean>
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	   <property name="location" value="classpath:/com/deccanrock/planovik/datasource/db.properties"/>
	</bean>
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    <property name="maxUploadSize" value="300000"/>
	</bean>
	
	<bean id="dataSourceRegistry" class="com.deccanrock.planovik.Tenant.TenantTargetRegistry"></bean>
	
	<bean id="dataSourceTargetSource"
		class="com.deccanrock.planovik.Tenant.ContextSwappableTargetSource">
		<constructor-arg type="java.lang.Class">
			<value>javax.sql.DataSource</value>
		</constructor-arg>
		<property name="targetRegistry" ref="dataSourceRegistry"></property>
	</bean>
	
	<bean id="proxyDataSource" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<list>
				<value>javax.sql.DataSource</value>
			</list>
		</property>
		<property name="targetSource">
			<ref bean="dataSourceTargetSource" />
		</property>
	</bean>
		
	<bean id="TenantEntityDAO" class="com.deccanrock.planovik.service.dao.TenantEntityDAO" />

	<bean id="TenantImplDAO" class="com.deccanrock.planovik.service.dao.TenantImplDAO">
		<property name="dataSource" ref="proxyDataSource"></property>
	</bean>

	<bean id="filehandler" class="com.deccanrock.planovik.service.utils.FileHandler">
    	<property name="resourcesfolder" value="c:/planovikpub/resources/" />
	</bean>
				           
</beans>