<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">
  	
  	<context:annotation-config />	

	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:ehcache.xml"/>
		<property name="shared" value="true"/>
	</bean>
		
	<bean id="cache" class="net.sf.ehcache.Cache" factory-bean="cacheManager" factory-method="getCache">
	    <constructor-arg value="cache" />          
	</bean>	
	
	<bean id="cacheservice" class="com.deccanrock.planovik.service.utils.CacheService">
		<constructor-arg> 
			<ref bean="cache" />
		</constructor-arg>
	</bean>		
	
    <bean id="mainDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/jdbc/z1_planovik_main"/>
    </bean>
	
	<bean id="OrgEntityDAO" class="com.deccanrock.planovik.service.dao.OrgEntityDAO">
	    <constructor-arg>
	        <ref bean="mainDataSource" />
	    </constructor-arg>
	</bean>	
	
    <bean id="UserEntityDAO" class="com.deccanrock.planovik.service.dao.UserEntityDAO">
	    <constructor-arg>
	        <ref bean="mainDataSource" />
	    </constructor-arg>
	</bean>	
    
    
    <bean id="ItineraryEntityDAO" class="com.deccanrock.planovik.service.dao.ItineraryEntityDAO">
	    <constructor-arg>
	        <ref bean="mainDataSource" />
	    </constructor-arg>
	</bean>	

    <bean id="ActivityMasterDAO" class="com.deccanrock.planovik.service.dao.ActivityMasterDAO">
	    <constructor-arg>
	        <ref bean="mainDataSource" />
	    </constructor-arg>
	</bean>	
	    
    <bean id="ActivityEntityDAO" class="com.deccanrock.planovik.service.dao.ActivityEntityDAO">
	    <constructor-arg>
	        <ref bean="mainDataSource" />
	    </constructor-arg>
	</bean>	
	    
    <bean id="ServiceProviderDAO" class="com.deccanrock.planovik.service.dao.ServiceProviderDAO">
	    <constructor-arg>
	        <ref bean="mainDataSource" />
	    </constructor-arg>
	</bean>	    

    <bean id="TenantEntityDAO" class="com.deccanrock.planovik.service.dao.TenantEntityDAO">
	    <constructor-arg>
	        <ref bean="mainDataSource" />
	    </constructor-arg>
	</bean>	 
	
    <bean id="AccountEntityDAO" class="com.deccanrock.planovik.service.dao.AccountEntityDAO">
	    <constructor-arg>
	        <ref bean="mainDataSource" />
	    </constructor-arg>
	</bean>		
	
    <bean id="applicationContextProvider" class="com.deccanrock.planovik.controller.AppCtxtProv"></bean>    
	
	<bean id="dataSourceRegistry" class="com.deccanrock.planovik.Tenant.TenantTargetRegistry"></bean>
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    <property name="maxUploadSize" value="300000"/>
	</bean>

	<bean id="filehandler" class="com.deccanrock.planovik.service.utils.FileHandler">
    	<property name="resourcesfolder" value="c:/planovikpub/resources/" />
	</bean>
	
	<bean id="defaultMandrillConfiguration" class="com.deccanrock.planovik.mandrill.util.MandrillConfiguration">
		<property name="apiVersion" value=""/>
		<property name="baseURL" value="https://mandrillapp.com/api"/>
		<property name="apiKey" value="1.0"/>
	</bean>
	
	<bean id="apacheHttpClient" class="org.apache.http.impl.client.HttpClientBuilder"/>
	<bean id="defaultObjectMapper" class="com.fasterxml.jackson.databind.ObjectMapper"/>
	
	<bean id="mandrillRESTRequest" class="com.deccanrock.planovik.mandrill.request.MandrillRESTRequest" scope="request">
		<property name="config" ref="defaultMandrillConfiguration"/>
		<property name="httpClient" ref="apacheHttpClient"/>
		<property name="objectMapper" ref="defaultObjectMapper"/>
	</bean>
	
	
	<!-- Request Classes -->
	
	<bean id="messagesRequest" class="com.deccanrock.planovik.mandrill.request.MandrillMessagesRequest" scope="request">
		<property name="request" ref="mandrillRESTRequest"/>
	</bean>
	<bean id="tagsRequest" class="com.deccanrock.planovik.mandrill.request.MandrillTagsRequest" scope="request">
		<property name="request" ref="mandrillRESTRequest"/>
	</bean>
	<bean id="templatesRequest" class="com.deccanrock.planovik.mandrill.request.MandrillTemplatesRequest" scope="request">
		<property name="request" ref="mandrillRESTRequest"/>
	</bean>
	<bean id="urlsRequest" class="com.deccanrock.planovik.mandrill.request.MandrillUrlsRequest" scope="request">
		<property name="request" ref="mandrillRESTRequest"/>
	</bean>
	<bean id="usersRequest" class="com.deccanrock.planovik.mandrill.request.MandrillUsersRequest" scope="request">
		<property name="request" ref="mandrillRESTRequest"/>
	</bean>	
		
						           
</beans>